
  <ion-card routerLink="/problem-details">
    <ion-card-header>
      <ion-card-subtitle>Repairment Details</ion-card-subtitle>
      <ion-card-title>Register Problem</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>


<div class="ion-padding">
  <ion-button expand="block" type="submit" class="ion-no-margin" (click)="logout()">Logout</ion-button>
</div>